.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #842a84;
  text-align: center;
}

.main {
  padding: 5rem 0;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.span {
  color: #5a41d5;
}
.form {
  display: flex;
  flex-direction: column;
}
.form > label {
  text-align: center;
  margin: 0.5rem 0;
}
.form > input {
  width: 300px;
  height: 40px;
  border: 0.1rem solid #f9e3f9;
  border-radius: 5px;
  margin: 0.5rem 0;
}
.form > input::placeholder {
  padding: 0 1rem;
  color: #842a84;
}
.button {
  background-color: #842a84;
  color: #fff;
  padding: 0.5rem 0;
  background-color: #842a84;
  color: #fff;
  border-radius: 0.2rem;
}
.pageSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.pageSection > a {
  border: 0.1rem solid #963fcd1f;
  padding: 2rem;
}
.container > div{
  margin-top: 10px;
}
.container > div > p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
